./feature_encoder.pckl filter=lfs diff=lfs merge=lfs -text
./feature_model.pckl filter=lfs diff=lfs merge=lfs -text
./label_encoder.pckl filter=lfs diff=lfs merge=lfs -text
./neural_model.tflite filter=lfs diff=lfs merge=lfs -text
